h3{
  font-size: 18px;
  text-align: center;
}
#onclick{
  padding: 3px;
  color: green;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  width: 70px;
  color: white;
  background-color: #123456;
  border-radius: 3px;
}
.form{
  border-radius: 2px;
  padding: 20px 30px;
  font-size: 14px;
  width: 350px;
  margin: 20px 250px 0 35px;
  float: left;
}
input{
  width: 100%;
  height: 35px;
  margin-top: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
}
input[type=button]{
  background-color: #123456;
  border: 1px solid white;
  font-weight: bold;
  font-size: 18px;
  color: white;
  width: 49%;
}
#logindiv{
  padding-left: 50%;
  padding-top: 25%;
  opacity: 0.92;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%
  width: 100%;

  display: none;
}
#login{
  width: 350px;
  margin: 0px;
  background-color: white;
  position: relative;
  border: 5px solid rgb(90, 158, 181);
}
.img{
  float: right;
  margin-top: -35px;
  margin-right: -37px;
  cursor: crosshair;
}
#login{
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -158px;
}

 input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
 input[type=text]:focus {
  width: 100%;
}
.aside{
  background-color: #000033;
  height: 1300px;
  color: white;
}
h4{
  text-align: right;
}
.fa-dropbox{
  font-size: 48px;
  color: blue;
  padding-left: 50px;
}
.fa-file-text-o{
  font-size: 36px;
  color: white;
  padding-left: 25px;
}
.side{
  color: blue;
}
.fa-bell{
  font-size: 18px;
  color: black;
  padding-left: 100px;
}
.icon{
  font-size: 18px;
  color: white;
  padding-left: 5px;
}
.fa-folder{
  font-size: 36px;
  color: darkblue;
  padding-left: 25px;
}
.fa-delete{
  font-size: 36px;
  color: darkblue;
  padding-left: 25px;
}
.fa-photo{
  font-size: 36px;
  color: lightblue;
  padding-left: 25px;
}
.ico{
  font-size: 36px;
  color: white;
  padding-left: 25px;
}
.icons{
  font-size: 36px;
  color: darkblue;
  padding-left: 25px
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    cursor: pointer;
}
.danger {
    border-color: #000019;
    color: #000019;
}

.danger:hover {
    background: #f44336;
    color: white;
}
.imagescol{
  padding-top: 30px;
}
.img-responsive{
  height: 245px;
  width: 245px;
  padding-left: 5px;
  padding-right: 5px;
}
img{
  height: 245px;
  width: 245px;
  padding-left: 5px;
  padding-right: 5px;
}
.cont{
  position: relative;
  width: auto;
  height: auto;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 17px;
  right: 0;
  height: 245px;
  width: 245px;
  opacity: 0;
  transition: .3s ease;
  background-color: grey;
}
.cont:hover .overlay {
  opacity: 0.7;
}
.icon-overlay{
  color: white;
  font-size: 45px;
  position: absolute;
  top: 13%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  text-align: center;
}
.fa-check-circle:hover{
  color: red;
}
.pad{
  padding-bottom: 10px;
}
.col-md-9{
  padding-left: 25px;
}
